<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="ECommerce" connectionString="Server=tcp:ming0521.database.windows.net,1433;Initial Catalog=Ecommerce;Persist Security Info=False;User ID=markhuang;Password=ming0521H;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
    </connectionStrings>
    <appSettings>
        <add key="API_URL" value="http:/&gt;/www.googleapis.com" />
        <add key="filePath" value="http:/&gt;/www.googleapis.com" />
    </appSettings>
</configuration>